body {
    background-color: #131313;
    color: #ffffff;
    margin: 0;
    min-height: 100vh; /* Use min-height for better content handling */
}

.content {
    padding: 20px;
    text-align: center;
}